.*
.not-committed/
*.book.*
*.d.ts.map
*.example.*
*.mock.*
*.test.*
*.tgz
**/*/test/
/configs/
/coverage/
/cspell.config.cjs
/graphics/
/Icon?
/src/
/www-static/
bash-scripts/
dist-docs/
eslint.config.mjs
generated-config-*
index.html
prettier.config.mjs
test-files/
todo.md
tsconfig.*